.user-profile {
    margin-bottom: 30px;
}

.avatar-username {
    display: flex;
    align-items: center;
}

.user-profile-secondary-font {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.user-profile-primary-font {
    margin-left: 10px;
    font-size: 32px;
    color: white;
    font-weight: bolder;
}

.user-profile-first-row {
    display: flex;
    justify-content: space-between;
}

.user-profile-second-row {
    display: flex;
    align-items: center;
}

.unfollow {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #b41a20;
}

.follow {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.second-row-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
}
