.home-screen {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container {
    width: 600px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
